@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
}
a{text-decoration: none;}
.btn{
    cursor: pointer;
    outline: 0;
}
input{
    font-family: inherit;
}
.container{
    min-height: 100vh;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;

}
blockquote{
    cite{font-size: 1rem;}
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
    .meal-search{
        margin: 2rem 0;
        .meal-search-box{
            margin: 1.2rem 0;
            display: flex;
            .serch-control{
                width: 100%;
                padding: 0 1rem;
                font-size: 1.1rem;
                outline: 0;
                border: 1px solid rgb(119, 166, 24);
                color: rgb(119, 166, 24);
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }
            .search-btn{
                width: 55px;
                height: 55px;
                font-size: 1.8rem;
                color: #fff;
                border: none;
                background: rgb(119, 166, 24);
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
                transition: all 0.2s linear;
                &:hover{
                    filter: brightness(1.2);
                }
            }
        }
    }
    .meal-result{
        margin-top: 4rem;
        #meal{
            margin: 2.4rem 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 3.5rem;
            .meal-item{
                border-radius: 1rem;
                overflow: hidden;
                background: #ffffff;
                box-shadow:  20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
                margin: 2rem 0;
                .meal-img{
                    img{
                        width: 100%;
                        display: block;
                    }
                }
            }
            .meal-name{
                padding: 1.5rem 0.5rem;
                h3{
                    font-size: 1.4rem;
                }
                .recipe-btn{
                    color: #fff;
                    background: rgb(119, 166, 24);
                    font-weight: 500;
                    font-size: 1.1rem;
                    padding: 0.75rem 0;
                    display: block;
                    width: 175px;
                    border-radius: 2rem;
                    transition: all 0.2s linear;
                    margin: 1rem auto;
                    &:hover{
                        filter: brightness(1.2);
                    }
                }
            }
            &.notFound{
                grid-template-columns: 1fr;
                color: rgb(119, 166, 24);
                font-size: 1.8rem;
                font-weight: 600;
                width: 100%;
            }
        }
    
    }
    .meal-details{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        background: rgb(119, 166, 24);
        border-radius: 1rem;
        width: 700px;
        height: 700px;
        overflow-y: scroll;
        display: none;
        padding: 2rem 0;
        &.showRecipe{display: block;}
        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-thumb{
            background: #f0f0f0;
            border-radius: 2rem;
        }
        .recipe-close-btn{
            position: absolute;
            right: 2rem;
            top: 2rem;
            font-size: 1.8rem;
            background: #fff;
            border: none;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            opacity: .8;
            i{line-height: 35px;}
        }
        &-content{
            margin: 2rem;
            .recipe-title{
                border-bottom: 1rem;
            }
            .recipe-category{
                background-color: #fff;
                font-weight: 600;
                color: rgb(119, 166, 24);
                display: inline-block;
                padding: 0.2rem 0.5rem;
                border-radius: 0.3rem;
            }
            .recipe-instruct{
                padding: 1rem 0;
                >p:not(.recipe-category){
                    padding: 1rem 0;
                }
            }
        }
        .recipe-meal-img{
            
            img{width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        .recipe-link{
            margin: 1.4rem 0;
            a{
                color: #fff;
                font-size: 1.2rem;
                font-weight: 700;
                transition: all 0.4s linear;
                
                &:hover{
                    opacity: .8;
                }
            }
        }
    }
}




@media screen and (max-width: 1080px) {
    .meal-wrapper{
        .meal-result{
            #meal{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .meal-wrapper{
        .meal-details{
            width: 90%;
            height: 90%;
        }
    }
}

@media screen and (max-width: 650px) {
    .meal-wrapper{
        .meal-result{
            #meal{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}


